---
import { getCollection } from 'astro:content';
import SidebarLayout from '../../layouts/SidebarLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);
---

<SidebarLayout>
  <ul class="w-full">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>{post.data.title}</a>
          <p class="date">
            <FormattedDate date={post.data.date} />
          </p>
        </li>
      ))
    }
  </ul>
</SidebarLayout>