---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="py-16 px-4 bg-primary text-primary-content">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-3xl font-bold text-center">Join the Serverless Workflow community</h2>
      <p class="text-1xl text-center mb-12">Serverless Workflow is an open source project that anyone in the community can use, improve, and enjoy. We'd love you to join us! Here's a few ways to find out what's happening and get involved.</p>
    </div>
  </div>
  <div class="py-16 px-4">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-2 gap-8">
        <div class="prose">
          <h3>Learn and Connect</h3>
          <p>Using or want to use Serverless Workflow? Find out more here:</p>
          <ul>
            <li title="User help">
              <a target="_blank" rel="noopener" href="https://github.com/serverlessworkflow/specification/discussions"><i class="fa fa-envelope"></i> User help</a>:
              Discussion and help from your fellow users
            </li>
          </ul>
        </div>
        <div class="prose">
          <h3>Develop and Contribute</h3>
          <p>If you want to get more involved by contributing to Serverless Workflow, join us here:</p>
          <ul>
            <li title="GitHub">
              <a target="_blank" rel="noopener" href="https://github.com/serverlessworkflow/specification/"><i class="fab fa-github"></i> GitHub</a>:
              Development takes place here!
            </li>
            <li title="Slack">
              <a target="_blank" rel="noopener" href="https://slack.cncf.io/"><i class="fab fa-slack"></i> Slack</a>:
              Chat with other project developers at #serverless-workflow channel
            </li>
            <li title="Developer mailing list">
              <a target="_blank" rel="noopener" href="mailto:cncf-serverlessws-maintainers@lists.cncf.io"><i class="fa fa-envelope"></i> Developer mailing list</a>:
              Discuss development issues around the project
            </li>
          </ul>
          <p>You can find out how to contribute to Serverless Workflow in our <a href="https://github.com/serverlessworkflow/specification/blob/main/contributing.md">Contribution Guidelines</a>.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>