<footer class="footer bg-neutral text-neutral-content p-10">
  <aside>
    <p>
      &copy; Serverless Workflow Authors | 
      <a class="link" href="https://creativecommons.org/licenses/by/4.0" target="_blank" rel="noopener">CC BY 4.0</a> |
      <a class="link" href="https://www.linuxfoundation.org/legal/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>
    </p>
    <p>
      The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation,
      please see our <a class="link" href="https://www.linuxfoundation.org/legal/trademark-usage">Trademark Usage page</a>.
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a target="_blank" rel="noopener" href="https://github.com/serverlessworkflow/specification/" aria-label="GitHub"><i class="fab fa-github"></i></a>
    <a target="_blank" rel="noopener" href="https://slack.cncf.io/" aria-label="Slack"><i class="fab fa-slack"></i></a>
    <a target="_blank" rel="noopener" href="mailto:cncf-serverlessws-maintainers@lists.cncf.io" aria-label="Developer mailing list"><i class="fa fa-envelope"></i></a>
  </nav>
</div>